:root {
    --primary-dark : #352446;
    --primary-light: #CFBEFF;
    --neutral-purple: #F6F4FF;
    --neutral-yellow: #F9F3E9;
    --neutral-grey: #BDB9C0;
    --white: #FFFFFF;
    --accent-purple: #8247FF;
    --accent-yellow: #FFBB36;
    --greyish-purple: #7869A5;
    --greyish-yellow: #9E6900;
    --error: #D6356F;

    --border-style-light: 1px solid;
    --border-style-bold: 2px solid;
    --outer-radius: 15px;
    --inner-radius: 7.5px;

    --gradient-horizontal: linear-gradient(91.26deg, #8247FF 2.15%, #FFBB36 100%);

    --basic-text: 1rem;
    --small-text: 0.875rem;
    --medium-text: 1.25rem;
    --large-text: 1.75rem;
    --bold: 700;
    --regular: 400;

    --hover-transition: all 0.2s ease-in-out;
}
